/*
-------------------------------------------------------------------------------
Branding Colors
-------------------------------------------------------------------------------
*/

.branding-sentry {
  --primary-colour: #113981;
  --secondary-colour: #01a65a;
  --primary-darker-colour: #002068;
  --secondary-lighter-colour: #e7f4e9;
}

.branding-wilson-wraight {
  --primary-colour: #231b33;
  --secondary-colour: #fdc62c;
  --primary-darker-colour: #0a021a;
  --secondary-lighter-colour: #fff5db;
}

.branding-savills {
  --primary-colour: #252839;
  --secondary-colour: #c80c0f;
  --primary-darker-colour: #0c0f20;
  --secondary-lighter-colour: #f8dbdc;
}

.branding-niab {
  --primary-colour: #12377e;
  --secondary-colour: #4b732c;
  --primary-darker-colour: #001e65;
  --secondary-lighter-colour: #e2e8dd;
}

.branding-kws {
  --primary-colour: #004132;
  --secondary-colour: #233737;
  --primary-darker-colour: #407165;
  --secondary-lighter-colour: #e4ebeb;
}

.branding-frontier,
.branding-frontier-full {
  --primary-colour: #00615d;
  --secondary-colour: #fbab17;
  --primary-darker-colour: #004844;
  --secondary-lighter-colour: #fef1d8;
}
