$web-font-path: '/assets/fonts';

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('#{$web-font-path}/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    url('#{$web-font-path}/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$web-font-path}/montserrat-v18-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('#{$web-font-path}/montserrat-v18-latin-regular.woff') format('font-woff'),
    /* Modern Browsers */ url('#{$web-font-path}/montserrat-v18-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('#{$web-font-path}/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('#{$web-font-path}/montserrat-v18-latin-500.eot'); /* IE9 Compat Modes */
  src:
    url('#{$web-font-path}/montserrat-v18-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$web-font-path}/montserrat-v18-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('#{$web-font-path}/montserrat-v18-latin-500.woff') format('font-woff'),
    /* Modern Browsers */ url('#{$web-font-path}/montserrat-v18-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('#{$web-font-path}/montserrat-v18-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('#{$web-font-path}/montserrat-v18-latin-700.eot'); /* IE9 Compat Modes */
  src:
    url('#{$web-font-path}/montserrat-v18-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$web-font-path}/montserrat-v18-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('#{$web-font-path}/montserrat-v18-latin-700.woff') format('font-woff'),
    /* Modern Browsers */ url('#{$web-font-path}/montserrat-v18-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('#{$web-font-path}/montserrat-v18-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
